body {
  margin: 0;
  background: black;
  overflow: hidden;
}

#controls {
  position: fixed;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.dpad, .actions {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.middle {
  display: flex;
  gap: 5px;
  justify-content: center;
}

button {
  width: 60px;
  height: 60px;
  font-size: 20px;
  opacity: 0.7;
}
